@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spoqa Han Sans", "Spoqa Han Sans JP", "Sans-serif";
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: rgb(240, 240, 240);
  background-color: #2f2f2f;
  border-bottom: 1px solid rgb(240, 240, 240);
}

.headerInnerDiv {
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: 4rem;
  margin: 0 auto;
  align-items: center;
  font-size: 1.2rem;
}

.nav {
  height: 100%;
}

.nav-ul {
  display: flex;
  height: 100%;
}

.nav-li {
  list-style: none;
  padding: 0.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.nav-ul .current {
  background-color: rgb(240, 240, 240);
  color: #2f2f2f;
  font-weight: 300;
}

.nav-li:hover {
  background-color: rgb(240, 240, 240);
  color: #2f2f2f;
}

.nav-a {
  text-decoration: none;
  color: #000;
}

.section {
  min-height: 100vh;
  text-align: center;
  background-color: #2f2f2f;
  color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 4rem;
}

.sectionP {
  font-weight: 100;
}

.section:nth-child(odd) {
  background-color: rgb(240, 240, 240);
  color: #2f2f2f;
}
